ul {
  display: flex;
  list-style-type: none;
  background-color: rgb(34, 85, 86);
}
li {
  padding: 15px;
}
li:hover {
  background-color: rgb(14, 49, 49);
  border-radius: 10px;
}
.search-input {
  width: 300px;
  padding: 5px;
  border-radius: 10px;
}
.search-button {
  color: white;
  padding: 15px;
  border-radius: 10px;
}
.search-form {
  text-align: center;
  margin-top: 20px;
}
.main-container {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.allplayer-details-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}
.cart {
  width: 22%;
  background-color: rgba(174, 153, 153, 0.561);
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
}
.card {
  width: 160px;
  border: 2px solid grey;
  border-radius: 10px;
}
.card-img-container {
  width: 100%;
  height: 180px;
}
.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card-text {
  padding: 5px;
}
.card-buttons {
  display: flex;
  justify-content: space-between;
}

.descriptions {
  font-weight: bolder;
}
.modal-img {
  width: 60%;
  height: auto;
}
.socialmedia {
  display: flex;
  justify-content: space-around;
  background-color: rgb(160, 201, 178);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer {
  background-color: rgb(5, 15, 5);
  padding: 15px;
  margin-top: 50px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
  margin: auto;
}
